.header {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-image: url("../img/header_background_v1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;

  &__title {
    margin-top: 249px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 0.9px;
  }

  &__btn {
    margin: 15px auto 0;
  }
}
